{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "requireConfigFile": false
  },
  "plugins": ["jsx-a11y", "prettier", "react-hooks"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "func-names": "off",
    "import/no-cycle": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-shadow": "off",
    "react/no-array-index-key": "off",
    "react/prop-types": "off"
  }
}
